VITE_SUPABASE_URL=https://mqetkydjiqobhxrsiyhr.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1xZXRreWRqaXFvYmh4cnNpeWhyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE2MDg4NzQsImV4cCI6MjA5NzE4NDg3NH0.vMbTYHjNROoyxZzWMGBesjZ9ntPkYtmZ1458bDC2NJQ
VITE_BYPASS_AUTH=false 